#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 20px;
  left: 0;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.start-image {
  min-width: 480px;
  min-height: 50vh;
  padding: 1.5em;
}

.start-image > img {
  height: 125px;
  width: 125px;
  margin-bottom: 50px;
}

.start-image > h1 {
  line-height: 0;
  color: black;
}

.start-image > p {
  position: relative;
  margin-top: 5rem;
  color: #000;
}

.start-image > p::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: black;
  top: 50%;
  right: 0;
  margin: 0px 12px;
}

.start-image > p::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: black;
  top: 50%;
  left: 0;
  margin: 0px 12px;
}

.start-btns {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.start-btns > button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid black;
  font-size: 25px;
  box-shadow: 0px 4px 0px 4px black;
  font-family: 'Raleway', sans-serif;
  transition: .15s ease;
  background-color: white;
  color: black;
  cursor: pointer;
}

.start-btns > button:active {
  box-shadow: 0px 1px 0px 2px black;
  transform: translateY(4px);
  transition: .15s ease;
}

.github-link > p {
  font-size: 18px;
}

.github-link > p > a {
  width: auto;
  position: relative;
  margin-top: 25px;
  font-size: 20px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: .5s ease;
  padding: 5px;
  isolation: isolate;
}

.github-link > p > a:hover {
  color: white;
}

.github-link > p > a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  transition: .5s ease;
  z-index: -1;
}

.github-link > p > a:hover::after {
  height: 100%;
  transition: .5s ease;
}

.toggle-border {
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  place-content: start;
  place-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 4px black;
}

.toggle-border > input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.toggle-thumb {
  width: 35px;
  height: 30px;
  background-color: #000;
  border-radius: 5px;
  margin: 3.5px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border > .ic-sun {
  position: absolute;
  left: 12px;
  width: 18px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border > .ic-moon {
  position: absolute;
  right: 12.5px;
  width: 18px;
  transform: translateX(-5px);
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border > input:checked + .toggle-thumb {
   -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.toggle-border > input:checked ~ .ic-sun {
  transform: translateX(5px);
}

.toggle-border > input:checked ~ .ic-moon {
  transform: translateX(0px);
}

