@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}



html,
body {
  width: 100%;
  height: 100%;
}

/* Light Mode CSS */

body {
  background-image:
    radial-gradient(at 75% 81%, hsla(297, 71%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 63% 33%, hsla(167, 90%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 62%, hsla(229, 93%, 69%, 1) 21px, transparent 50%);
  background-repeat: no-repeat;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.start-image {
  min-width: 480px;
  min-height: 50vh;
  padding: 1.5em;
}

.start-image>h1 {
  margin-top: 30px;
  line-height: 0;
}

.start-image>p {
  position: relative;
  margin-top: 5rem;
}

.start-image>p::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: black;
  top: 50%;
  right: 0;
  margin: 0px 12px;
}

.start-image>p::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 1px;
  background-color: black;
  top: 50%;
  left: 0;
  margin: 0px 12px;
}

.start-btns {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.start-btns>button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid black;
  font-size: 25px;
  box-shadow: 0px 4px 0px 4px black;
  font-family: 'Raleway', sans-serif;
  transition: .15s ease;
  background-color: white;
  cursor: pointer;
}

.start-btns>button:active {
  box-shadow: 0px 1px 0px 2px black;
  transform: translateY(4px);
  transition: .15s ease;
}

.github-link>p {
  font-size: 18px;
}

.github-link>p>a {
  width: auto;
  position: relative;
  margin-top: 25px;
  font-size: 20px;
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: .5s ease;
  padding: 5px;
  isolation: isolate;
}

.github-link>p>a:hover {
  color: white;
}

.github-link>p>a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  transition: .5s ease;
  z-index: -1;
}

.github-link>p>a:hover::after {
  height: 100%;
  transition: .5s ease;
}

.toggle-border {
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  place-content: start;
  place-items: center;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 4px black;
}

.toggle-border>input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.toggle-thumb {
  width: 35px;
  height: 30px;
  background-color: #000;
  border-radius: 5px;
  margin: 3.5px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border>.ic-sun {
  position: absolute;
  left: 12px;
  width: 18px;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border>.ic-moon {
  position: absolute;
  right: 12.5px;
  width: 18px;
  transform: translateX(-5px);
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-border>input:checked+.toggle-thumb {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.toggle-border>input:checked~.ic-sun {
  transform: translateX(5px);
}

.toggle-border>input:checked~.ic-moon {
  transform: translateX(0px);
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  place-items: center;
  place-content: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px;
}

.input-container>input[type="range"] {
  appearance: none;
  position: relative;
  width: 100%;
  height: .5px;
  background-color: #aaa;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px 0px;
}

.input-container>input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  background: #000;
  cursor: pointer;
}


.input-container>select {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border: 2px solid black;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.input-container>input:focus,
select:focus {
  outline: none;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: white;
  padding: 15px 25px;
  border: 4px solid black;
  overflow: hidden;
}

.modal>header {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 2px solid black;
}

.modal>header>h3 {
  margin: 0 auto;
  color: #000;
  font-size: 35px;
}

.modal>button {
  width: auto;
  padding: 10px 15px;
  border: 1px solid black;
  font-size: 18px;
  box-shadow: 0px 2px 0px 2px black;
  font-family: 'Raleway', sans-serif;
  transition: .15s ease;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
}

.modal>button:active {
  box-shadow: 0px 1px 0px 1px black;
  transform: translateY(4px);
  transition: .15s ease;
}


.options-container {
  width: 100%;
  height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

.options-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
  border: 2.5px solid white;
}

.options-container::-webkit-scrollbar-thumb {
  width: 5px;
  background: #000;
}

.option-btn-container {
  width: 100%;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}


.option-btn-container>button {
  width: 100%;
  padding: 5px 5px;
  margin: 10px;
  border: 1px solid black;
  font-size: 20px;
  box-shadow: 0px 2.5px 0px 2.5px black;
  font-family: 'Raleway', sans-serif;
  transition: .15s ease;
  background-color: rgb(245, 245, 245);
  color: black;
  cursor: pointer;
}

.option-btn-container>button:active {
  box-shadow: 0px 1px 0px 1px black;
  transform: translateY(2px);
  transition: .15s ease;
}

.game-header {
  width: 100%;
  height: 5rem;
  display: inline-flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin: 25px;
}


.logo>h3 {
  margin: 5px;
  font-size: 25px;
  color: black;
}

#github-link {
  width: 25px;
  height: 25px;
  margin: 50px;
}

#github-link {
  color: #000;
}

.status {
  width: 85%;
  height: auto;
  display: grid;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.35);
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: none;
  border-left: none;

}

.status>p {
  width: 100%;
  font-weight: 700;
  padding: 5px;
  cursor: default;
  transition: .5s ease;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.status>p>span {
  font-weight: 500;
}

.question {
  width: 100%;
  min-height: 200px;
  border: 1px solid;
  margin: 25px 0px;
  background-color: rgba(255, 255, 255, 0.35);
  overflow: hidden;
}

.question-container {
  width: 100%;
  border-bottom: 1px solid;
  padding: 5px;
}

.question-container>p {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  font-family: "Montserrat", sans-serif;
}

.answers-container {
  width: 100%;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid;

  gap: 10px;
}

.answer-btn {
  width: auto;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.60);
  border: 2px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: .1s;
}

.answer-btn:hover {
  background-color: #ffffff;
}

.answer-btn:active {
  background-color: black;
  color: white;
  font-weight: 600;
}

.game-scr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions-container {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.question-container-wrapper {
  height: 100%;
  width: 85%;
}

.questions-container::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #fff;
}

.questions-container::-webkit-scrollbar-thumb {
  background: #000;
}

.result {
  margin-top: 30px;
}

.result>button {
  width: 100%;
  padding: 10px 25px;
  border: 1px solid black;
  font-size: 25px;
  box-shadow: 0px 4px 0px 4px black;
  font-family: 'Raleway', sans-serif;
  transition: .15s ease;
  cursor: pointer;
  margin-top: 15px;
}

.result>button:active {
  box-shadow: 0px 1px 0px 2px black;
  transform: translateY(4px);
  transition: .15s ease;
}

.result>button:disabled {
  background-color: #ffffffb6;
  box-shadow: 0px 1px 0px 2px #00000054;
  transform: translateY(4px);
  cursor: not-allowed;
}

.gameover>.content>h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  margin: 25px;
}

.gameover>.content>h4>span {
  font-weight: 800;
  font-size: 75px;
}

.gameover>.content>.stats-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;
  color: white;
  background-color: black;
}

.gameover>.content>.stats-grid>div {
  display: block;
  text-align: center;
  margin: 10px 20px;
}

.gameover>.content>.stats-grid>div>p {
  font-weight: 600;
}

.leaderboard-container {
  width: 100%;
  height: 8rem;
  background-color: black;
  margin: 10px 0px;
}

.game-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: black;
  color: white; */
  gap: 10px;
  padding: 10px;
  margin: 10px 0px;
}

.game-stats>div {
  display: block;
  text-align: center;
}

.game-stats>div>p {
  font-weight: 600;
}

/* Dark Mode CSS */